<div class="w-screen h-screen bg-accent px-32">
  <div class="w-full h-full flex gap-5">

    <!--sidebar-->
    <div class="h-full w-1/5 flex flex-row justify-center items-center">
      <div class="w-full h-4/5 bg-base-100  p-6 flex flex-col justify-between rounded-3xl">
        <div class="flex flex-col gap-2">
          <a href="/" class="btn btn-neutral w-full">home</a>
          <a href="/user/account" class="btn btn-neutral w-full">Account</a>
          <a href="/user/dashboard" class="btn btn-neutral w-full">Dashboard</a>
          <a href="/user/site" class="btn btn-neutral w-full">Site</a>
        </div>
        <a href="/user/logout" class="btn btn-neutral w-full text-left">Logout</a>
      </div>
    </div>
    
    <!--mainbar-->
    <div class="w-4/5 h-full">


