{{template "header.html"}}
{{template "header_auth_layout.html"}}
<div class="flex flex-col w-[480px] p-7 gap-2 bg-base-100">
  <form action="/login" method="post" class="flex flex-col w-full gap-5">
    <input type="email" name="email" placeholder="Email" class="input input-bordered w-full" required />
    <input type="password" name="password" placeholder="Password" class="input input-bordered w-ful" min="6" required/>
    <button class="btn btn-neutral">Login</button>
  </form>
  <div>
    dont have an account? <a href="/register">Register</a>
  </div>
</div>
{{template "footer_auth_layout.html"}}
{{template "footer.html"}}
